body {
  background: url(../images/background.jpg) fixed;
  text-shadow: 2px 2px black;
  color: #F5ECB2;
  text-align: center;
}

input {
  display: block;
  margin-left: 30%;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDD;
  bottom: 0;
  position: fixed;
  width: 40%;
  height: 5%;
  font-size: 30px;
  color: #3C3D3E;
}

input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  border: 1px solid rgba(81, 203, 238, 1);
}

ul {
  list-style: none;
  font-size: 24px;
  line-height: 1.8;
  padding: 0;
}
